body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Open Sans", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
}

.welcome-message {
  font-style: italic;
  color: #f3f3f3;
  line-height: 1.5em;
  padding: 0;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

.hide-content-container > .hide-content {
  /* Hide the content inside the container (but not from screen-readers). */
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.hide-content-container:hover > .hide-content {
  /* On hover, display the content inside the container. */
  position: inherit;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
  transition-delay: 0.8s;
  white-space: nowrap;
}

/* Role. */
#header h1 + span {
  white-space: nowrap;
  display: inline-block;  /* Cause the role to wrap below the name if necessary. */
  color: #222;
  text-shadow: 0 0 1px #333;  /* Shadow to make the text more visible. */
}

#topContacts, #footerContacts {
  max-width: 500px;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-around;
  position: relative;  /* Along with overflow:hidden, prevents contacts flexbox from creating unwanted whitespace beyond 100% width. */
  overflow: hidden;  /* Along with position:relative, prevents contacts flexbox from creating unwanted whitespace beyond 100% width. */
}

#footerContacts {
  line-height: 0;  /* Remove unwanted space below element. */
}

#topContacts li, #footerContacts li {
  border-radius: 3px;
  background: #f0f0f0;
  height: 2em;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 0.8em;
  width: 2em;
  flex: 0 0 auto;
  transition: flex 1s;
}

#topContacts li span, #footerContacts li span {
  font-size: 0.7em;  /* (Relative to parent's font-size.) */
}

#topContacts li a, #footerContacts li a {
  margin: 0;  /* Override margin-top:10px. */
}

#topContacts li:hover, #footerContacts li:hover {
  flex: 1 0 auto;
  transition: flex 1s;
}

#topContacts li:not(:last-of-type), #footerContacts li:not(:last-of-type) {
  margin-right: 15px;
}

#skills li {
  padding: 5px;
}

.project-images {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  box-sizing: border-box;
  margin: 10px 0;
}

.project-images img {
  flex: 0 0 auto;
  max-height: 100%;
  box-sizing: border-box;
  border: solid #ddd 1px;
  border-radius: 5px;
  margin-right: 10px;  /* Ignored by overflow scroll (scrolls to last element's border edge, not margin edge). */
}

#education h3 {
  color: #999;
  font-weight: normal;
  padding-top: 20px;  /* Overriding top and bottom padding. */
  padding-bottom: 0;  /* Overriding top and bottom padding. */
}

#lets-connect h2 {
  color: #222;
}


/* Media queries to handle various device widths */

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (min-width: 900px) {
  .welcome-message {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

@media only screen and (min-width: 500px) {
  #topContacts li, #footerContacts li {
    font-size: 1em;
  }
}
