/*************************
  Global Styles
*************************/

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #484848;
}

h1 {
  color: #f5a623;
}

h2 {
  color: #999;
}

h4 {
  color: #4a4a4a;
}

p {
  color: #333;
}

a {
  color: #1199c3;
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
}


/*************************
  Classes
*************************/

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.gray {
  background-color: #f3f3f3;
}

.dark-gray {
  background-color: #4a4a4a;
}

.subtitle {

}

.time-period {
  font-style: italic;
  color: #999;
}

.location {
  font-style: italic;
  color: #999;
}

.welcome-message {
  font-style: italic;
  color: #f3f3f3;
  line-height: 1.5em;
}

.biopic {
  width: 200px;
}

.hide-content-container > .hide-content {
  /* Hide the content inside the container (but not from screen-readers). */
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.hide-content-container:hover > .hide-content {
  /* On hover, display the content inside the container. */
  position: inherit;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
  transition-delay: 0.8s;
  white-space: nowrap;
}


/*************************
  Specific Styles
*************************/


/*************************
  Media Queries
*************************/
