body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}


/* Custom CSS */
.hide-content-container > .hide-content {
  /* Hide the content inside the container. */
  display: none;
}

.hide-content-container:hover > .hide-content {
  /* On hover, display the content inside the container. */
  display: inherit;
  white-space: nowrap;
}

/* Name. */
#name {
  white-space: nowrap;
}

/* Role. */
#header h1 + span {
  white-space: nowrap;
  display: inline-block;  /* Cause the role to wrap below the name if necessary. */
  color: #222;  /* Didn't like the way black text looked here. */
  text-shadow: 0 0 1px #333;  /* Shadow to make the text more visible. */
}

#topContacts, #footerContacts {
  max-width: 500px;
  margin: 0 auto;
  flex-wrap: nowrap;
}

#topContacts li, #footerContacts li {
  border-radius: 3px;
  background: #f0f0f0;
  height: 1.8em;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  transition: all 1s;
  width: 1.8em;
  overflow: hidden;
  font-size: .8em;
}

#topContacts a, #footerContacts a {
  margin: 0;
}

#topContacts li:hover, #footerContacts li:hover {
  transition: all 1s;
  width: 100%;
}

#topContacts li:not(:last-of-type), #footerContacts li:not(:last-of-type) {
  margin-right: 15px;
}

#skills li:not(:last-of-type) {
/*  border-right: 1px white solid;*/
}

.project-images {
  min-width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  box-sizing: border-box;
}

.project-images img {
  flex: 0 0 auto;
  max-height: 100%;
  box-sizing: border-box;
  border: solid #ddd 1px;
  border-radius: 5px;
  margin-right: 10px;
}

#lets-connect h2 {
  color: #222;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/* Custom media queries. */
@media (min-width: 500px) {
  #topContacts li, #footerContacts li {
    height: 2em;
    width: 2em;
    font-size: 1em;
  }
}
