* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

canvas {
}
