/***********************************
* Styling for the markers form.
***********************************/

#markers-form {
  background: white;
  border-top: solid grey 1px;
  left: 0;
  height: 30%;
  overflow: auto;
  padding: 25px;
  position: absolute;
  text-align: center;
  top: 70%;
  width: 100%;
  z-index: 2;  /* Above map and sidebar. */
}

#markers-form fieldset {
  margin: 0 auto;
  max-width: 400px;
}

#markers-form legend {
  font-size: 1.1em;
  font-weight: bold;
}

#markers-form button {
  margin: 10px 5px;
}

.pending-marker {
  align-items: center;
  border-bottom: solid 1px #ccc;
  display: flex;
  padding: 5px;
}

.pending-marker:last-of-type {
  border-bottom: none;
}

.pending-marker span {
  cursor: pointer;
  flex: 1 1 auto;
}

/* Identical to markers-list .selected style. */
.selected {
  color: #c00;
}
