/***********************************
* Styling for the sidebar and sidebar-toggle button.
*
* DONE
***********************************/

#sidebar {
  background: #222;
  border-right: none;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 4px -1px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 7px;
  position: absolute;
  right: -100%;
  top: 0;
  transform: translate(0);
  transition: transform 0.25s ease-in;
  width: 100%;
  z-index: 1;  /* Above map. */
}

#sidebar.expanded {
  transform: translate(-100%);
  transition: transform 0.25s ease-in;
}

/* The 'search markers' and 'visible only' inputs. */
#sidebar > fieldset {
  border: none;
  flex: 0 0 36px;  /* Basis equal to toggle-button's height. */
  margin: none;
  padding: 0 43px 0 0;  /* The toggle button's width plus its right offset (36 + 7). */
}

/* The 'search markers' and 'new folder' inputs. */
#sidebar input[type='text'] {
  background: #f9f9f9;
  border: none;
  display: block;
  height: 2em;
  padding: 0 3px 0 5px;
  width: 100%;
}

/* The 'new folder' input. */
#sidebar form input[type='text'] {
  padding: 0 2.5em 0 5px;
}

/* The 'Only Show Markers Inside Map Bounds' input's label. */
#sidebar > fieldset label {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  margin-top: 5px;
}

/* The 'Only Show Markers Inside Map Bounds' input. */
#sidebar > fieldset input[type='checkbox'] {
  margin-right: 4px;
}

/* The add folder form. */
#sidebar > form {
  flex: 1 1 auto;
  position: relative;
}

/* The add folder form's submit button. */
#sidebar > form button {
  background: #eee;
  border: none;
  border-left: solid 1px grey;
  height: 2em;
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
}

#sidebar > form button:hover {
  background: #ddd;
  border-color: #444;
}

/* The delete all button. */
#sidebar > button:last-of-type {
  align-self: center;
  background-color: #d00;
  border: solid 1px #555;
  box-shadow: 0 0 1px 1px #444;
  color: #ddd;
  padding: 3px;
  width: 100px;
}

#sidebar > button:last-of-type:hover {
  background-color: #b00;
}

#sidebar > button:last-of-type:active {
  background-color: #e00;
  border-color: #333;
}

#sidebar > button:last-of-type:focus {
  outline: none;
}

#sidebar-toggle {
  background: #fff;
  border: solid #555 1px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  height: 36px;
  line-height: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 36px;
  z-index: 3;  /* Above map, markers form, and sidebar. */
}

#sidebar-toggle:hover {
}

#sidebar-toggle:active {
  background-color: #eee;
  border-color: #000;
}

#sidebar-toggle:focus {
  outline: none;
}

.expanded {}



/***********************************
* Media Queries
***********************************/

@media (min-width: 500px) {
  #sidebar {
    right: -500px;
    width: 500px;
  }

  #sidebar.expanded {
    transform: translate(-500px);
  }
}

@media (min-width: 1000px) {
  #sidebar {
    left: 0;
    padding: 0;
    position: relative;
    transition: width 0.25s ease-in;
    width: 0;
  }

  #sidebar > * {
    visibility: hidden;
  }

  #sidebar.expanded {
    padding: 7px;
    transform: translate(0);
    transition: width 0.25s ease-in;
    width: 500px;
  }

  #sidebar.expanded > *{
    transition: visibility 0s 0.25s;
    visibility: visible;
  }
}
