/* Udacity logo: #00b1e4. */

/******************************
 Global styles.
******************************/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #f7f7f7;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: inherit;
}


/******************************
 The header and its contents.
******************************/
header {
  display: flex;
  align-items: center;
  padding: 10px 7px;
  height: 70px;
}

/* The Udacity logo. */
header a,
header img {
  height: 100%;
}

/* The title and subtitle container. */
header div {
  height: 100%;
  flex: 1 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1 {
  font-size: 1.6em;  /* Size for smallest width. */
  white-space: nowrap;
}

header p {
  font-size: 0.9em;
}


/******************************
 The nav and its contents.
******************************/
#sticky-nav-container {
  height: 45px;
  width: 100%;
  position: relative;
}

nav {
  height: 35px;
  width: 100%;
  position: absolute;  /* Without this, links are only selectable via their text due to the about section being offset and overlapping the nav. Using z-index doesn't correct the problem. */
  border-top: #777 solid 1px;
  border-bottom: #777 solid 1px;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
}

nav ul li {
  list-style: none;
  flex: 1 1 1px;  /* Ensure equal widths. */
  height: 100%;  /* Necessary for height on child a element. */
}

nav ul li:not(:last-of-type) {
  border-right: #777 solid 1px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #00b1e4;
  font-size: 0.8em;
  font-weight: bold;
  background: #f7f7f7;
  padding: 0 5px;
}

nav ul li a:hover {
  background: #eee;
}


/******************************
 The sections and their content.
******************************/
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:not(:last-of-type) {
  border-bottom: solid 1px #bbb;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

section > p {
  text-indent: 2em;
  width: 100%;
  padding: 10px 15px;
}

h2 {
  font-variant: small-caps;
  text-align: center;
  padding-top: 10px;
}

article {
  text-align: center;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px #ddd;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The second work entry in each container. */
article:last-of-type {
  margin-top: 10px;
}

article time {
  font-size: 0.8em;
  font-weight: bold;
}

section a {
  color: #0096C2;
}

section a:hover {
  color: #006F8F;
}


/******************************
 The contact form.
******************************/
#contact-form {
  min-height: 100%;
}

#contact-form h2 {
}

/* The contact form description. */
#contact-form > p {
  width: 600px;
  max-width: 90%;
  padding: 10px 0;
}

form {
  text-align: center;
  position: relative;
  width: 400px;
  max-width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The name and email form items. */
form label {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

form label span {
  flex: 0 0 60px;
  text-align: right;
  padding-right: 4px;
  color: #444;
}

form label input {
  min-width: 100px;
  flex: 1 1 auto;
}

form textarea {
  width: 100%;
  padding: 4px;
  height: 10em;
  resize: none;
  margin-bottom: 10px;
}

form button {
  padding: 3px 20px;
}

form button:disabled {
  color: #555;
}


/******************************
 Classes.
******************************/
.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;  /* Allows enforcing min-height on children. */
}

.article-container {
  padding: 10px 10px 0 10px;
}

.popup-source {
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
}

.popup-source:hover {
  color: #555;
}

.popup {
  /*text-align: center;*/
  color: #333;
  background: white;
  border: solid 2px #444;
  border-radius: 5px;
  padding: 10px;
  cursor: default;
}

.popup ul {
  list-style: circle;
  margin: 0 50px;
  padding: 0;
}

.github-logo {
  max-width: 32px;
  padding: 5px;
}

.work-preview {
  width: 100%;
  max-width: 600px;
  border: solid 2px #d5d5d5;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px 0;
}

.work-preview:hover {
  border: solid 2px #00b1e4;
}

.message-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px black;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  overflow: hidden;
}

/* Used for sticky nav. */
.stick-top {
  position: fixed;
  top: 0;
  z-index: 1;  /* Ensure nav stays on top. */
  border-top: none;
  width: 100%;
}

/* Used by elements the nav links to. */
.nav-target {
  /* Offset anchor by nav height. */
  padding-top: 35px;
  margin-top: -35px;
}

/* Assigned to nav link linking to the currently scrolled-to nav target. */
.current {
  color: red;
}

.hidden {
  display: none;
}


/******************************
 Media queries.
******************************/
@media (min-width: 500px) {
  header {
    height: 80px;
  }

  header h1 {
    font-size: 1.8em;
  }

  header p {
    font-size: 1em;
  }

  nav {
    height: 40px;
  }

  nav ul li a {
    font-size: 0.9em;
  }

  section > p {
    text-indent: 3em;
  }

  article {
    flex: 1 1;
  }

  /* The second work entry in each container. */
  article:last-of-type {
    margin-top: 0;
    margin-left: 10px;
  }

  .article-container {
    display: flex;
  }

  .container {
    width: 90%;
  }

  .stick-top {
    width: 90%;
  }

  /* Used by elements the nav links to. */
  .nav-target {
    /* Offset anchor by nav height. */
    padding-top: 40px;
    margin-top: -40px;
  }
}

@media (min-width: 700px) {
  header {
    height: 90px;
  }

  header h1 {
    font-size: 2em;
  }

  nav {
    height: 45px;
  }

  /* Used by elements the nav links to. */
  .nav-target {
    /* Offset anchor by nav height. */
    padding-top: 45px;
    margin-top: -45px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }

  .stick-top {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 70%;
  }

  .stick-top {
    width: 70%;
  }
}
