/***********************************
* Styling for the info window.
***********************************/

#info-window {
  height: 220px;
  overflow: auto;
  text-align: center;
  width: 180px;
}

#info-window > article > h1 {
  font-size: 1.2em;
}

#info-window > article > p {}

#info-window > article > h2 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 3px;
}

#info-window > form > label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-window-edit-buttons,
.info-window-form-buttons,
.info-window-source-buttons {
  font-size: 0.8em;
}

.info-window-edit-buttons button {
  margin: 0 2px;
}

.info-window-form-buttons button {
  margin: 6px 5px 0 5px;
  width: 70px;
}

.info-window-form-buttons {}

/* The actual additional information section. */
.info-window-info {
  border: solid grey 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
  margin: 8px;
  max-height: 200px;
  overflow: auto;
}

.info-window-source-buttons {}

.info-window-source-buttons button {
  margin: 1px;
}

.selected-source {
  border-color: #c00;
}

#google-results > div:not(:last-child),
#flickr-results > div:not(:last-child),
#foursquare-results > div:not(:last-child),
#wikipedia-results > div:not(:last-child) {
  border-bottom: solid #000 2px;
  padding-bottom: 5px;
}



/***********************************
* Google results.
***********************************/

#google-results {}

#google-results h2 {
  font-size: 1rem;
}

#google-results h3 {
  font-size: 1rem;
  margin-bottom: 7px;
}

.google-title {}

.google-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.google-details li {
  margin: 5px 2px;
}

.google-details li span {
  display: block;
  font-weight: bold;
}

.google-photos {}

.google-photos ul {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 0;
}

.google-photos li {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.google-photos img {
  width: 90%;
}

.google-reviews {}

.google-reviews ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.google-reviews > ul > li:not(:last-child) {
  border-bottom: solid 1px #ccc;
  margin-bottom: 5px;
}



/***********************************
* Flickr results.
***********************************/

#flickr-results {}

#flickr-results h2 {
  font-size: 1rem;
  word-wrap: break-word;
}

#flickr-results img {
  width: 90%;
}



/***********************************
* Foursquare results.
***********************************/

#foursquare-results {}

.foursquare-title {}

.foursquare-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.foursquare-details li {
  margin: 5px 2px;
}

.foursquare-details li span {
  display: block;
  font-weight: bold;
}



/***********************************
* Wikipedia results.
***********************************/

#wikipedia-results {}

#wikipedia-results img {
  max-width: 90%;
}

.wikipedia-title {}



/***********************************
* Media queries.
***********************************/

@media (min-width: 450px) {
  #info-window {
    width: 300px;
  }
}

@media (min-height: 500px) {
  #info-window {
    height: 320px;
  }

  /* The actual additional information section. */
  .info-window-info {
    max-height: 280px;
  }
}

@media (min-height: 600px) {
  #info-window {
    height: 400px;
  }
}
