/***********************************
* Styling for the info window.
***********************************/

#info-window {
  height: 220px;
  overflow: auto;
  text-align: center;
  width: 180px;
}

#info-window > article > h1 {
  font-size: 1.2em;
}

#info-window > article > p {}

#info-window > article > h2 {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 3px;
}

.info-window-edit-buttons,
.info-window-form-buttons,
.info-window-source-buttons {
  font-size: 0.8em;
}

.info-window-edit-buttons button,
.info-window-form-buttons button {
  margin: 6px 5px 0 5px;
  width: 70px;
}

.info-window-form-buttons {}

/* The actual additional information section. */
.info-window-info {
  border: solid grey 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
  margin: 8px;
  max-height: 200px;
  overflow: auto;
}

.info-window-source-buttons {}

.info-window-source-buttons button {
  margin: 2px;
  width: 70px;
}

.selected-source {
  font-weight: bold;
}



/***********************************
* Google results.
***********************************/

#google-results {}

#google-results h2 {
  font-size: 1rem;
}

#google-results h3 {
  font-size: 1rem;
  margin-bottom: 7px;
}

.google-title {}

.google-details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.google-details li {
  margin: 5px 2px;
}

.google-details li span {
  display: block;
  font-weight: bold;
}

.google-photos {}

.google-photos ul {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 0;
}

.google-photos li {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
}

.google-reviews {}

.google-reviews ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.google-reviews > ul > li {
  border-bottom: solid 1px #ccc;
}



/***********************************
* Flickr results.
***********************************/

#flickr-results {}

#flickr-results h2 {
  font-size: 1rem;
  word-wrap: break-word;
}


/***********************************
* Foursquare results.
***********************************/

#foursquare-results {}



/***********************************
* Wikipedia results.
***********************************/

#wikipedia-results {}
