/***********************************
* Shared and generic styling.
***********************************/

* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

body {
  overflow-x: hidden;
}

main {
  position: relative;
}

.fullpage-error {}

.util-fullpage-form {}

.util-fullpage-form-overlay {}
