/***********************************
* Global Styles
***********************************/

* {
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

main {
  position: relative;
}

/* Temporary style. */
.marker-list li button {
  height: 15px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}



/***********************************
* IDs
***********************************/

#map {
  height: 100%;
  width: 100%;
}

#places-search {
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  background: white;
  border: none;
  border-radius: 2px;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  margin-top: 10px;
  max-width: 100%;
  padding: 0 3px 0 5px;
  width: 200px;
}



/***********************************
* Classes
***********************************/

.add-marker {}

.drag-handle {}

.expanded {
  transition: width 0.25s ease-in;
  width: 100% !important;
}

.expanded .sidebar-content {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}

.fullpage-error {}

.marker-list {}

.pending-marker {}

.sidebar {
  background: white;
  height: 100%;
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: width 0.25s;
  width: 0px;
  z-index: 1;  /* Above map. */
}

.sidebar-toggle {
  background: white;
  border: solid grey 1px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
  height: 36px;
  line-height: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 36px;
  z-index: 1;  /* Above map. */
}

.sidebar-toggle:active,
.sidebar-toggle:focus {
  box-shadow: none;
  outline: none;
}

.sidebar-content {
  opacity: 0;
}



/***********************************
* Media Queries
***********************************/

@media (min-width: 500px) {
  .expanded {
    width: 500px !important;
  }
}
