/*
  THESE STYLES ONLY INTENDED TO FACILITATE DEVELOPMENT.
*/

* {
  box-sizing: border-box;
}

#map {
  height: 500px;
}

.marker-list li button {
  height: 15px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
