/***********************************
* Styling for the markers/folders list.
***********************************/

#markers-list {
  border: solid grey 1px;
  flex: 1 1 auto;
  list-style: none;
  overflow: auto;
  padding: 0;
  white-space: nowrap;
}

#markers-list ul {
  list-style: none;
  padding-left: 1em;
}

.drag-handle {
  cursor: move;
  flex: 0 0 20px;
  height: 20px;
  text-align: center;
  width: 20px;
}

.drag-handle::after {
  content: '‒';
}

/* Applied to folder buttons. */
.folder-button {
  background: white;
  border: solid 1px grey;
  border-radius: 2px;
  font-weight: bold;
  height: 20px;
  margin-left: 5px;
  padding: 0;
  width: 20px;
}

.folder-button:hover {
  background: #eee;
  border-color: #444;
}

.folder-button:first-of-type {
  margin: 0 5px 0 0;
}

.folder-button-center {}

.folder-button-collapse {}

.folder-button-confirm {
  height: 100%;
  right: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

.folder-button-open {}

.folder-button-open img {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

/* Only visible when editing a folder. */
.folder-button-remove {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
}

.folder-contents {}

/* Only visible when editing a folder. */
.folder-edit-form {
  position: relative;
}

/* Only visible when editing a folder. */
.folder-edit-input {
  background: none;
  border: solid 1px grey;
  margin: 0;
  padding: 0 23px;
  width: 150px;
}

.folder-entry,
.marker-entry {
  align-items: center;
  display: flex;
  white-space: nowrap;
}
