* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #222;
  color: #f5f5f5;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-links {
  list-style: none;
  margin: 5px auto;
  padding: 0;
}

.project-links__entry {
  margin: 5px;
  font-family: monospace;
  white-space: nowrap;
}

.project-links__link {
  color: #b55;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  font-size: 1.2em;
  font-variant: small-caps;
}

.project-links__link:visited {
  color: #755;
}

.project-links__link:hover {
  color: #f55;
}

.project-name {
  font-size: 1.4em;
}
