* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #333;
  color: #e0e0e0;
}

#counter {
  background: #333;
  font-size: 1.5em;
  padding: 10px 10px 2px 5px;
  position: fixed;
  right: 0;
  top: 0;
}

.grid {

}

.row {

}

img {
  border-radius: 8px;
}

img:hover {
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.25);
}

img:active {
  box-shadow: 0 0 2px 1px rgba(255,255,255,1);
}
